AlexNet/fashionmnist_data/FashionMNIST/raw/t10k-images-idx3-ubyte
AlexNet/fashionmnist_data/FashionMNIST/raw/t10k-labels-idx1-ubyte
AlexNet/fashionmnist_data/FashionMNIST/raw/train-images-idx3-ubyte
AlexNet/fashionmnist_data/FashionMNIST/raw/train-labels-idx1-ubyte
AlexNet/runs/Oct27_10-28-53_DESKTOP-ISO5UUJ/events.out.tfevents.1635301735.DESKTOP-ISO5UUJ.13376.0
AlexNet/runs/Oct27_10-31-20_DESKTOP-ISO5UUJ/events.out.tfevents.1635301883.DESKTOP-ISO5UUJ.14896.0
AlexNet/runs/Oct27_10-31-26_DESKTOP-ISO5UUJ/events.out.tfevents.1635301889.DESKTOP-ISO5UUJ.16028.0
AlexNet/runs/Oct27_10-31-26_DESKTOP-ISO5UUJ/events.out.tfevents.1635301889.DESKTOP-ISO5UUJ.18280.0
AlexNet/runs/Oct27_10-31-26_DESKTOP-ISO5UUJ/events.out.tfevents.1635301890.DESKTOP-ISO5UUJ.15940.0
AlexNet/runs/Oct27_10-31-26_DESKTOP-ISO5UUJ/events.out.tfevents.1635301890.DESKTOP-ISO5UUJ.18984.0
AlexNet/runs/Oct27_10-31-26_DESKTOP-ISO5UUJ/events.out.tfevents.1635301890.DESKTOP-ISO5UUJ.20256.0
AlexNet/runs/Oct27_10-31-26_DESKTOP-ISO5UUJ/events.out.tfevents.1635301890.DESKTOP-ISO5UUJ.2860.0
AlexNet/runs/Oct27_10-31-27_DESKTOP-ISO5UUJ/events.out.tfevents.1635301890.DESKTOP-ISO5UUJ.3400.0
AlexNet/runs/Oct27_10-34-12_DESKTOP-ISO5UUJ/events.out.tfevents.1635302055.DESKTOP-ISO5UUJ.18904.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.1468.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.15984.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.17012.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.17152.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.19792.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.2844.0
AlexNet/runs/Oct27_10-34-19_DESKTOP-ISO5UUJ/events.out.tfevents.1635302062.DESKTOP-ISO5UUJ.7588.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302158.DESKTOP-ISO5UUJ.10208.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302158.DESKTOP-ISO5UUJ.11760.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302158.DESKTOP-ISO5UUJ.15436.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302158.DESKTOP-ISO5UUJ.15616.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302158.DESKTOP-ISO5UUJ.16716.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302158.DESKTOP-ISO5UUJ.8540.0
AlexNet/runs/Oct27_10-35-55_DESKTOP-ISO5UUJ/events.out.tfevents.1635302159.DESKTOP-ISO5UUJ.16880.0
AlexNet/runs/Oct27_10-36-08_DESKTOP-ISO5UUJ/events.out.tfevents.1635302171.DESKTOP-ISO5UUJ.10644.0
AlexNet/runs/Oct27_10-36-08_DESKTOP-ISO5UUJ/events.out.tfevents.1635302171.DESKTOP-ISO5UUJ.10776.0
AlexNet/runs/Oct27_10-36-08_DESKTOP-ISO5UUJ/events.out.tfevents.1635302171.DESKTOP-ISO5UUJ.17108.0
AlexNet/runs/Oct27_10-36-08_DESKTOP-ISO5UUJ/events.out.tfevents.1635302171.DESKTOP-ISO5UUJ.19864.0
AlexNet/runs/Oct27_10-36-08_DESKTOP-ISO5UUJ/events.out.tfevents.1635302172.DESKTOP-ISO5UUJ.13244.0
AlexNet/runs/Oct27_10-36-08_DESKTOP-ISO5UUJ/events.out.tfevents.1635302172.DESKTOP-ISO5UUJ.8108.0
AlexNet/runs/Oct27_10-36-09_DESKTOP-ISO5UUJ/events.out.tfevents.1635302172.DESKTOP-ISO5UUJ.6728.0
AlexNet/runs/Oct27_11-02-30_DESKTOP-ISO5UUJ/events.out.tfevents.1635303753.DESKTOP-ISO5UUJ.19956.0
AlexNet/runs/Oct27_11-02-36_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.12520.0
AlexNet/runs/Oct27_11-02-36_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.15432.0
AlexNet/runs/Oct27_11-02-36_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.15552.0
AlexNet/runs/Oct27_11-02-36_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.20352.0
AlexNet/runs/Oct27_11-02-36_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.6820.0
AlexNet/runs/Oct27_11-02-36_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.9380.0
AlexNet/runs/Oct27_11-02-37_DESKTOP-ISO5UUJ/events.out.tfevents.1635303760.DESKTOP-ISO5UUJ.1720.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303859.DESKTOP-ISO5UUJ.11284.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303859.DESKTOP-ISO5UUJ.13484.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303859.DESKTOP-ISO5UUJ.13920.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303859.DESKTOP-ISO5UUJ.1712.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303859.DESKTOP-ISO5UUJ.20284.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303859.DESKTOP-ISO5UUJ.2452.0
AlexNet/runs/Oct27_11-04-16_DESKTOP-ISO5UUJ/events.out.tfevents.1635303860.DESKTOP-ISO5UUJ.2080.0
AlexNet/result.csv
AlexNet/leaf/para
AlexNet/leaf/test.csv
AlexNet/leaf/train.csv
